<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Реєстрація</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Реєстрація</h2>
      <form id="registerForm">
        <input type="text" id="username" placeholder="Ім'я користувача" />
        <input type="text" id="email" placeholder="Email" />
        <input
          type="text"
          id="password"
          placeholder="Пароль (мін. 6 символів)"
        />
        <input
          type="text"
          id="confirmPassword"
          placeholder="Підтвердіть пароль"
        />
        <button type="submit">Зареєструватись</button>
      </form>
    </div>
    <script type="module" src="/src/js/register.js"></script>
  </body>
</html>
